/* Write your CSS here */
.main-container {
  background-color: #1e293b;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading {
  color: #f0bb03;
  font-weight: bold;
  font-family: 'BreeSerif';
}
.paragraph {
  color: white;
  font-family: 'BreeSerif';
  font-weight: bold;
  margin: 5px;
}
.button-style {
  background-color: white;
  width: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  color: #1e293b;
  border-radius: 5px;
}
